$badge-margin: 4px;
$badge-radius: 5px;
$badge-color: #ffffff;
$badge-background: #1520a6;

// TODO: in common file

.md-badge-small {
    font-size: 12px;
}

.md-badge-medium {
    font-size: 16px;
}

.md-badge-large {
    font-size: 20px;
}

.md-badge-container {
    display: flex;
    flex-direction: row;
    border: 1px solid $badge-background;
    background-color: $badge-background;
    border-radius: $badge-radius;
    color: $badge-color;
    margin-left: -$badge-margin;
    margin-right: -$badge-margin;
    padding-top: $badge-margin;
    padding-bottom: $badge-margin;
    max-width: max-content;

    & > * {
        margin: 0 $badge-margin;
    }
}
