<ng-container *ngIf="content?.changes | async"></ng-container>
<div
    class="md-text-field-container"
    [ngClass]="{ 'md-text-field-container-focused': isInputFocused }"
    (click)="focusOnInput()"
>
    <input
        [ngModel]="value"
        (ngModelChange)="inputChange($event)"
        mdPrimitiveInput
        type="text"
        class="md-text-field-input"
    />

    <div
        *ngIf="isInputHidden"
        class="md-text-field-input md-text-field-input-template"
    >
        <ng-content select="fieldContent"></ng-content>
    </div>

    <div class="md-text-field-content">
        <ng-container *ngIf="!isOutside">
            <ng-template *ngTemplateOutlet="labelTemplate"></ng-template>
        </ng-container>

        <div
            *ngIf="hasClearButton"
            class="md-clickable-icon"
            (click)="clear($event)"
        >
            <ng-container *ngIf="closeIconUrl">
                <md-svg [url]="closeIconUrl"></md-svg>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #labelTemplate>
    <label
        class="md-text-field-label"
        [ngClass]="{
            'md-text-field-label-raised': isLabelRaised,
            'md-text-field-label-focused': isInputFocused
        }"
    >
        {{ label }}
    </label>
</ng-template>
