@use 'sass:map';

@import 'mixins';

.md-badge {
    @include typography-medium();

    border: 1px solid;
    box-sizing: border-box;
    border-radius: var(--md-border-radius-small);
    display: inline-block;
    padding: 0.25em 1.5em;
    font-weight: 700;
    text-align: center;
    vertical-align: baseline;

    &-small {
        @include typography-small();

        .md-badge-container {
            gap: var(--md-point-xsmall);
        }
    }

    &-medium {
        @include typography-medium();

        .md-badge-container {
            gap: var(--md-point-small);
        }
    }

    &-large {
        @include typography-large();

        .md-badge-container {
            gap: var(--md-point-medium);
        }
    }

    &-container {
        @include flex-row();
        align-items: center;
        justify-content: space-between;
    }
}

@mixin badge-style($class, $definitions) {
    $background: map.get($definitions, 'background');
    $border: map.get($definitions, 'border');
    $color: map.get($definitions, 'content');

    .md-badge-#{$class} {
        background-color: $background;
        border-color: $border;
        color: $color;
    }
}

@include badge-style(
    'blue',
    (
        'background': var(--md-blue),
        'border': var(--md-blue),
        'content': var(--md-white),
    )
);

@include badge-style(
    'gray',
    (
        'background': var(--md-gray),
        'border': var(--md-gray),
        'content': var(--md-white),
    )
);

@include badge-style(
    'green',
    (
        'background': var(--md-green),
        'border': var(--md-green),
        'content': var(--md-white),
    )
);

@include badge-style(
    'yellow',
    (
        'background': var(--md-yellow),
        'border': var(--md-yellow),
        'content': var(--md-black),
    )
);
