@import 'mixins';

.md-card {
    @include flex-column;

    gap: var(--md-point-medium);
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--md-white);
    background-clip: border-box;
    border: 1px solid var(--md-black-025);
    border-radius: var(--md-border-radius-small);
    padding: calc(var(--md-point-large) * 0.75);
    flex: 0 0 100%;
    box-sizing: border-box;

    &-hoverable {
        cursor: pointer;
        transition: box-shadow 0.2s, border-color 0.2s;

        &:hover {
            border-color: transparent;
            box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16),
                0 3px 6px 0 rgba(0, 0, 0, 0.12),
                0 5px 12px 4px rgba(0, 0, 0, 0.09);
        }
    }

    &-header {
        @include flex-column;

        gap: var(--md-point-small);
    }

    &-title {
        @include typography-large;
    }

    &-subtitle {
        @include typography-medium;

        color: var(--md-gray);
    }
}
