:root {
    /* points */
    --md-point-xsmall: 4px;
    --md-point-small: 8px;
    --md-point-medium: 16px;
    --md-point-large: 32px;
    --md-point-xlarge: 64px;

    /* icons */
    --md-icon-medium: 16px;
    --md-icon-large: 24px;

    /* colors */
    --md-blue: #007bff;
    --md-primary: #4e6bd1;
    --md-gray: #6c757d;
    --md-light-gray: #ededed;
    --md-green: #28a745;
    --md-yellow: #ffda6a;
    --md-orange: #ff5507;
    --md-red: #fa2c55;
    --md-white: #fff;
    --md-black: #000;
    --md-black-025: #00000020;
    --md-black-065: #000000a6;
    --md-blue-01: #1b1f3b;
    --md-blue-02: rgb(27 31 59 / 65%);
    --md-blue-03: rgb(27 31 59 / 40%);
    --md-focus: rgb(0 0 0 / 4%);

    /* typography */

    --md-typo-xsmall-font-size: 10px;
    --md-typo-xsmall-font-weight: 500;
    --md-typo-xsmall-line-height: 12px;
    --md-typo-small-font-size: 12px;
    --md-typo-small-font-weight: 500;
    --md-typo-small-line-height: 14px;
    --md-typo-medium-font-size: 14px;
    --md-typo-medium-font-weight: 500;
    --md-typo-medium-line-height: 16px;
    --md-typo-large-font-size: 16px;
    --md-typo-large-font-weight: 600;
    --md-typo-large-line-height: 24px;
    --md-typo-xlarge-font-size: 20px;
    --md-typo-xlarge-font-weight: 600;
    --md-typo-xlarge-line-height: 32px;

    /* placeholder */
    --md-placeholder-small: 1rem;
    --md-placeholder-medium: 1.25rem;
    --md-placeholder-medium-focused: 0.8rem;
    --md-placeholder-large: 1.5rem;
    --md-placeholder-large-focused: 0.9rem;

    /* borders */
    --md-border-radius-xsmall: 0.25rem;
    --md-border-radius-small: 0.5rem;
    --md-border-radius-medium: 0.75rem;
    --md-border-radius-large: 0.75rem;

    /* padding */
    --md-padding-small: 0.75rem;
    --md-padding-medium: 0.75rem;
    --md-padding-large: 1rem;

    /* height */
    --md-height-xsmall: 1.5rem;
    --md-height-small: 2rem;
    --md-height-medium: 2.5rem;
    --md-height-large: 3.5rem;
}

/* scss variables for scss functions */
$md-blue: #007bff;
$md-gray: #6c757d;
$md-green: #28a745;
$md-yellow: #ffda6a;
$md-orange: #ff5507;
$md-red: #fa2c55;
$md-white: #fff;
$md-black: #000;
