<ng-container *ngIf="content | mdGuardPipe: isPrimitive as plainContent">
    {{ plainContent }}
</ng-container>

<ng-container *ngIf="content | mdGuardPipe: isFunction as callableContent">
    {{ callableContent(context) }}
</ng-container>

<ng-container *ngIf="content | mdGuardPipe: isTemplate as templateContent">
    <ng-container
        *ngTemplateOutlet="
            templateContent;
            context: context?.polymorpheusOutlet ?? null
        "
    ></ng-container>
</ng-container>

<ng-container *ngIf="content | mdGuardPipe: isComponent as componentContent">
    <ng-container
        *ngComponentOutlet="
            componentContent.component;
            injector: componentContent?.createInjectorWithContext(context)
        "
    ></ng-container>
</ng-container>
