<!-- <h3>Buttons</h3>
<section>
    <button md-button
            (click)="log()">One</button>
    <button md-button
            (click)="log()">Two</button>
    <button md-button
            (click)="log()">Three</button>
</section>

<h3>Small Buttons</h3>
<section [mdSize]="small">
    <button md-button
            (click)="log()">One</button>
    <button md-button
            (click)="log()">Two</button>
    <button md-button
            (click)="log()">Three</button>
</section>

<h3>Large Buttons</h3>
<section [mdSize]="large">
    <button md-button
            (click)="log()">One</button>
    <button md-button
            (click)="log()">Two</button>
    <button md-button
            (click)="log()">Three</button>
</section> -->

<h3>Large Disabled Buttons</h3>
<section [mdDisabled]="disabled"
         [mdSize]="large">
        <button md-button
                (click)="log()">One</button>
</section>

<button (click)="toggleDisabled()">Toggle Disabled</button>