<div>
    <div class="app-navigation">
        <span class="app-navigation-item"
            ><a routerLink="accordion">Accordion</a></span
        >
        <span class="app-navigation-item"><a routerLink="badge">Badge</a></span>
        <span class="app-navigation-item"
            ><a routerLink="button">Button</a></span
        >
        <span class="app-navigation-item"><a routerLink="card">Card</a></span>
        <span class="app-navigation-item"><a routerLink="field">Field</a></span>
        <span class="app-navigation-item"
            ><a routerLink="combo-box">Combo-box</a></span
        >
    </div>
</div>
<div>
    <router-outlet></router-outlet>
</div>
