Value: {{ value }}

<section class="playground-row">
    <div class="playground-col-33">
        <md-combo-box
            mdRemovable
            label="Combo-box"
            [content]="selectionTemplate"
            [(ngModel)]="value"
            (searchInputChange)="search($event)"
            (selectionChange)="selected($event)"
        >
            <ng-container *ngFor="let item of data$ | async">
                <md-combo-box-option
                    [content]="optionTemplate"
                    [value]="item.id"
                    [item]="item"
                ></md-combo-box-option>
            </ng-container>
        </md-combo-box>
    </div>
</section>

<button md-button (click)="log()">Log</button>

<!-- <section class="playground-row">
    <div class="playground-col-33">
        <md-combo-box label="Combo-box" [(ngModel)]="value">
            <ng-container *ngFor="let item of data$ | async">
                <md-combo-box-option
                    [content]="optionTemplate"
                    [value]="item.id"
                    [item]="item"
                ></md-combo-box-option>
            </ng-container>
        </md-combo-box>
    </div>
</section> -->

<ng-template #selectionTemplate let-value let-item="item">
    <div>Id: {{ item.id }} Name: {{ item.name }}</div>
    <!-- {{ value }} -->
</ng-template>

<ng-template #optionTemplate let-item="item">
    <div>Name: {{ item.name }}</div>
</ng-template>
