Value: {{ value }}

<section class="playground-row">
    <div class="playground-col-33">
        <md-combo-box
            mdRemovable
            label="Combo-box-async"
            [content]="selectionTemplate"
            [(ngModel)]="value"
            (searchInputChange)="search($event)"
            (selectionChange)="selected($event)"
        >
            <ng-container *ngFor="let item of async$ | async">
                <md-combo-box-option
                    [content]="optionTemplate"
                    [value]="item.id"
                    [item]="item"
                ></md-combo-box-option>
            </ng-container>
        </md-combo-box>
    </div>
</section>

<div class="playground-row">
    <button md-button (click)="log()">Log</button>
</div>

<div class="playground-row">
    <button md-button (click)="load()">Load</button>
</div>

<ng-template #selectionTemplate let-value let-item="item">
    <div>Id: {{ value }} Name: {{ item.name }}</div>
</ng-template>

<ng-template #optionTemplate let-item="item">
    <div>Name: {{ item.name }}</div>
</ng-template>
