<div class="md-combo-box-container" [formGroup]="formGroup">
    <div class="md-combo-box-input-container">
        <md-text-field
            [label]="label"
            formControlName="inputControl"
            (click)="toggle()"
        >
            <div *ngIf="showContent" ngProjectAs="fieldContent">
                <md-content-outlet
                    [content]="content"
                    [context]="context"
                ></md-content-outlet>
            </div>
        </md-text-field>
    </div>

    <ng-container *ngIf="open$ | async">
        <div class="md-combo-box-options-container">
            <ng-template *ngTemplateOutlet="options"></ng-template>
        </div>
    </ng-container>
</div>

<ng-template #options>
    <ng-content></ng-content>
</ng-template>
