Value: {{ value }}

<section class="playground-row">
    <div class="playground-col-33">
        <md-text-field label="Field" [(ngModel)]="value"></md-text-field>
    </div>
</section>

<section class="playground-row">
    <div class="playground-col-33" mdRemovable>
        <md-text-field label="Field" [(ngModel)]="value"></md-text-field>
    </div>
</section>

<section class="playground-row">
    <div class="playground-col-33" mdDisabled>
        <md-text-field label="Field" [(ngModel)]="value"></md-text-field>
    </div>
</section>

<section class="playground-row">
    <div class="playground-col-33" mdReadonly>
        <md-text-field label="Field" [(ngModel)]="value"></md-text-field>
    </div>
</section>
